<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">



</head>

 <body class="container">

  <form action="save" method="post">
  
  <table>

  <%#First Year#%>
  <tr>
    <th class="th1">First-Year:</th>
  </tr>

  <tr>
    <th class="th1">Autumn</th>
    <th class="th1">Winter</th>
    <th class="th1">Spring</th>
    <th class="th1"></th>
  </tr>
  <tr>
    <td onchange="store('1a1')"><input class="input1" name="1a1" value="<%=current_user.plans.class1a1%>"></td>
    <td onchange="store('1w1')"><input class="input1" name="1w1" value="<%=current_user.plans.class1w1%>"></td>
    <td onchange="store('1s1')"><input class="input1" name="1s1" value="<%=current_user.plans.class1s1%>"></td>
    <td onchange="store('1su1')"><input class="input1" name="1su1" value="<%=current_user.plans.class1su1%>"></td>
  </tr>
  <tr>
    <td onchange="store('1a2')"><input class="input1" name="1a2" value="<%=current_user.plans.class1a2%>"></td>
    <td onchange="store('1w2')"><input class="input1" name="1w2" value="<%=current_user.plans.class1w2%>"></td>
    <td onchange="store('1s2')"><input class="input1" name="1s2" value="<%=current_user.plans.class1s2%>"></td>
    <td onchange="store('1su2')"><input class="input1" name="1su2" value="<%=current_user.plans.class1su2%>"></td>
  </tr>
  <tr>
    <td onchange="store('1a3')"><input class="input1" name="1a3" value="<%=current_user.plans.class1a3%>"></td>
    <td onchange="store('1w3')"><input class="input1" name="1w3" value="<%=current_user.plans.class1w3%>"></td>
    <td onchange="store('1s3')"><input class="input1" name="1s3" value="<%=current_user.plans.class1s3%>"></td>
    <td onchange="store('1su3')"><input class="input1" name="1su3" value="<%=current_user.plans.class1su3%>"></td>
  </tr>
  <tr>
    <td onchange="store('1a4')"><input class="input1" name="1a4" value="<%=current_user.plans.class1a4%>"></td>
    <td onchange="store('1w4')"><input class="input1" name="1w4" value="<%=current_user.plans.class1w4%>"></td>
    <td onchange="store('1s4')"><input class="input1" name="1s4" value="<%=current_user.plans.class1s4%>"></td>
    <td onchange="store('1su4')"><input class="input1" name="1su4" value="<%=current_user.plans.class1su4%>"></td>
  </tr>
    <tr>
    <td onchange="store('1a5')"><input class="input1" name="1a5" value="<%=current_user.plans.class1a5%>"></td>
    <td onchange="store('1w5')"><input class="input1" name="1w5" value="<%=current_user.plans.class1w5%>"></td>
    <td onchange="store('1s5')"><input class="input1" name="1s5" value="<%=current_user.plans.class1s5%>"></td>
    <td onchange="store('1su5')"><input class="input1" name="1su5" value="<%=current_user.plans.class1su5%>"></td>
  </tr>

  
  <%#Second Year#%>
  <tr>
    <th class="th1">Second-Year:</th>
  </tr>

  <tr>
    <th class="th1">Autumn</th>
    <th class="th1">Winter</th>
    <th class="th1">Spring</th>
    <th class="th1"></th>
  </tr>
  <tr>
    <td onchange="store('2a1')"><input class="input1" name="2a1" value="<%=current_user.plans.class2a1%>"></td>
    <td onchange="store('2w1')"><input class="input1" name="2w1" value="<%=current_user.plans.class2w1%>"></td>
    <td onchange="store('2s1')"><input class="input1" name="2s1" value="<%=current_user.plans.class2s1%>"></td>
    <td onchange="store('2su1')"><input class="input1" name="2su1" value="<%=current_user.plans.class2su1%>"></td>
  </tr>
  <tr>
    <td onchange="store('2a2')"><input class="input1" name="2a2" value="<%=current_user.plans.class2a2%>"></td>
    <td onchange="store('2w2')"><input class="input1" name="2w2" value="<%=current_user.plans.class2w2%>"></td>
    <td onchange="store('2s2')"><input class="input1" name="2s2" value="<%=current_user.plans.class2s2%>"></td>
    <td onchange="store('2su2')"><input class="input1" name="2su2" value="<%=current_user.plans.class2su2%>"></td>
  </tr>
  <tr>
    <td onchange="store('2a3')"><input class="input1" name="2a3" value="<%=current_user.plans.class2a3%>"></td>
    <td onchange="store('2w3')"><input class="input1" name="2w3" value="<%=current_user.plans.class2w3%>"></td>
    <td onchange="store('2s3')"><input class="input1" name="2s3" value="<%=current_user.plans.class2s3%>"></td>
    <td onchange="store('2su3')"><input class="input1" name="2su3" value="<%=current_user.plans.class2su3%>"></td>
  </tr>
  <tr>
    <td onchange="store('2a4')"><input class="input1" name="2a4" value="<%=current_user.plans.class2a4%>"></td>
    <td onchange="store('2w4')"><input class="input1" name="2w4" value="<%=current_user.plans.class2w4%>"></td>
    <td onchange="store('2s4')"><input class="input1" name="2s4" value="<%=current_user.plans.class2s4%>"></td>
    <td onchange="store('2su4')"><input class="input1" name="2su4" value="<%=current_user.plans.class2su4%>"></td>
  </tr>
    <tr>
    <td onchange="store('2a5')"><input class="input1" name="2a5" value="<%=current_user.plans.class2a5%>"></td>
    <td onchange="store('2w5')"><input class="input1" name="2w5" value="<%=current_user.plans.class2w5%>"></td>
    <td onchange="store('2s5')"><input class="input1" name="2s5" value="<%=current_user.plans.class2s5%>"></td>
    <td onchange="store('2su5')"><input class="input1" name="2su5" value="<%=current_user.plans.class2su5%>"></td>
  </tr>

  <%#Third Year#%>
  <tr>
    <th class="th2">Third-Year:</th>
  </tr>

  <tr>
    <th class="th2">Autumn</th>
    <th class="th2">Winter</th>
    <th class="th2">Spring</th>
    <th class="th2"></th>
  </tr>
  <tr>
    <td onchange="store('3a1')"><input class="input1" name="3a1" value="<%=current_user.plans.class3a1%>"></td>
    <td onchange="store('3w1')"><input class="input1" name="3w1" value="<%=current_user.plans.class3w1%>"></td>
    <td onchange="store('3s1')"><input class="input1" name="3s1" value="<%=current_user.plans.class3s1%>"></td>
    <td onchange="store('3su1')"><input class="input1" name="3su1" value="<%=current_user.plans.class3su1%>"></td>
  </tr>
  <tr>
    <td onchange="store('3a2')"><input class="input1" name="3a2" value="<%=current_user.plans.class3a2%>"></td>
    <td onchange="store('3w2')"><input class="input1" name="3w2" value="<%=current_user.plans.class3w2%>"></td>
    <td onchange="store('3s2')"><input class="input1" name="3s2" value="<%=current_user.plans.class3s2%>"></td>
    <td onchange="store('3su2')"><input class="input1" name="3su2" value="<%=current_user.plans.class3su2%>"></td>
  </tr>
  <tr>
    <td onchange="store('3a3')"><input class="input1" name="3a3" value="<%=current_user.plans.class3a3%>"></td>
    <td onchange="store('3w3')"><input class="input1" name="3w3" value="<%=current_user.plans.class3w3%>"></td>
    <td onchange="store('3s3')"><input class="input1" name="3s3" value="<%=current_user.plans.class3s3%>"></td>
    <td onchange="store('3su3')"><input class="input1" name="3su3" value="<%=current_user.plans.class3su3%>"></td>
  </tr>
  <tr>
    <td onchange="store('3a4')"><input class="input1" name="3a4" value="<%=current_user.plans.class3a4%>"></td>
    <td onchange="store('3w4')"><input class="input1" name="3w4" value="<%=current_user.plans.class3w4%>"></td>
    <td onchange="store('3s4')"><input class="input1" name="3s4" value="<%=current_user.plans.class3s4%>"></td>
    <td onchange="store('3su4')"><input class="input1" name="3su4" value="<%=current_user.plans.class3su4%>"></td>
  </tr>
    <tr>
    <td onchange="store('3a5')"><input class="input1" name="3a5" value="<%=current_user.plans.class3a5%>"></td>
    <td onchange="store('3w5')"><input class="input1" name="3w5" value="<%=current_user.plans.class3w5%>"></td>
    <td onchange="store('3s5')"><input class="input1" name="3s5" value="<%=current_user.plans.class3s5%>"></td>
    <td onchange="store('3su5')"><input class="input1" name="3su5" value="<%=current_user.plans.class3su5%>"></td>
  </tr>

  <%#Fourth-Year#%>
  <tr>
    <th class="th2">Fourth-Year:</th>
  </tr>

  <tr>
    <th class="th2">Autumn</th>
    <th class="th2">Winter</th>
    <th class="th2">Spring</th>
    <th class="th2"></th>
  </tr>
  <tr>
    <td onchange="store('4a1')"><input class="input1" name="4a1" value="<%=current_user.plans.class4a1%>"></td>
    <td onchange="store('4w1')"><input class="input1" name="4w1" value="<%=current_user.plans.class4w1%>"></td>
    <td onchange="store('4s1')"><input class="input1" name="4s1" value="<%=current_user.plans.class4s1%>"></td>
    <td onchange="store('4su1')"><input class="input1" name="4su1" value=""></td>
  </tr>
  <tr>
    <td onchange="store('4a2')"><input class="input1" name="4a2" value="<%=current_user.plans.class4a2%>"></td>
    <td onchange="store('4w2')"><input class="input1" name="4w2" value="<%=current_user.plans.class4w2%>"></td>
    <td onchange="store('4s2')"><input class="input1" name="4s2" value="<%=current_user.plans.class4s2%>"></td>
    <td onchange="store('4su2')"><input class="input1" name="4su2" value=""></td>
  </tr>
  <tr>
    <td onchange="store('4a3')"><input class="input1" name="4a3" value="<%=current_user.plans.class4a3%>"></td>
    <td onchange="store('4w3')"><input class="input1" name="4w3" value="<%=current_user.plans.class4w3%>"></td>
    <td onchange="store('4s3')"><input class="input1" name="4s3" value="<%=current_user.plans.class4s3%>"></td>
    <td onchange="store('4su3')"><input class="input1" name="4su3" value=""></td>
  </tr>
  <tr>
    <td onchange="store('4a4')"><input class="input1" name="4a4" value="<%=current_user.plans.class4a4%>"></td>
    <td onchange="store('4w4')"><input class="input1" name="4w4" value="<%=current_user.plans.class4w4%>"></td>
    <td onchange="store('4s4')"><input class="input1" name="4s4" value="<%=current_user.plans.class4s4%>"></td>
    <td onchange="store('4su4')"><input class="input1" name="4su4" value=""></td>
  </tr>
    <tr>
    <td onchange="store('4a5')"><input class="input1" name="4a5" value="<%=current_user.plans.class4a5%>"></td>
    <td onchange="store('4w5')"><input class="input1" name="4w5" value="<%=current_user.plans.class4w5%>"></td>
    <td onchange="store('4s5')"><input class="input1" name="4s5" value="<%=current_user.plans.class4s5%>"></td>
    <td onchange="store('4su5')"><input class="input1" name="4su5" value=""></td>
  </tr>
</table>
  <button>save</button>
</form>

<div class="wrap">
   <div class="search">
    <form action="/search" method="post">
      <input type="text" class="searchTerm" name="search" placeholder="e.g. CMSC 15400" value="">
      <button class="searchButton">Search</button>
    </form>
   </div>
</div>
</div>

  </div>
  </div>
  </body>
</html>


      

      
