<!DOCTYPE html>
<html>
  <head>
    <%#Original Name: CS Advising%>
    <title>The Bot!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://i0.wp.com/biocars.uchicago.edu/wp-content/uploads/2019/05/cropped-logo.png?ssl=1" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous">
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
  </head>

  <body>

    <%#Have deleted content. Please compare to the main branch%>







    <%#any alert or notice message%>
    <%if alert!=nil%>
      <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%=alert%>
      </div>
    <%end%>
    
    <%if notice!=nil%>
      <div class="notice">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%=notice%>
      </div>
    <%end%>

    
    <%= yield %>
    <script>
      var close = document.getElementsByClassName("closebtn");
      var i;

      for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
        }
      }
    </script>
  </body>
</html>
